application-utility==1.4.0
attrs==23.2.1.dev0
btrfsutil==6.13
cffi==1.17.1
chardet==5.2.0
charset-normalizer==3.4.1
cryptography==44.0.2
cupshelpers==1.0
dbus-python==1.4.0
distlib==0.3.9
docopt==0.6.2
filelock==3.18.0
idna==3.10
keyutils==0.6
netsnmp-python==1.0a1
nftables==0.1
npyscreen==4.10.5
packaging==24.2
pacman_mirrors==4.27
pillow==11.1.0
platformdirs==4.3.6
pycairo==1.27.0
pycparser==2.22
pycups==2.0.4
PyGObject==3.52.3
PyQt5==5.15.11
PyQt5_sip==12.17.0
pysmbc==1.0.25.1
PyYAML==6.0.2
reportlab==4.2.2
requests==2.32.3
smbus==1.1
TBB==0.2
udiskie==2.5.7
urllib3==2.3.0
virtualenv==20.28.0
wheel==0.45.1
